[Unit]

Description=aaa bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/bots/aaa_wc2022_bot
Environment="PATH=/root/bots/aaa_wc2022_bot/aaa_venv/bin"
ExecStart=/root/bots/aaa_wc2022_bot/aaa_venv/bin/python lib/client.py
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target