[Unit]

Description=aaa bot
After=network-online.target

[Service]
User=root
WorkingDirectory=/root/bots/aaa_wc2022_bot
ExecStart=bash /root/bots/aaa_wc2022_bot/run.sh
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
